<div class="page-header">
  <div class="pull-left">
    <h1>{{model.title}}</h1>
    <small>By: {{model.author}}
      {{#if isOwner}}{{model.isPublished}}{{/if}}
    </small>
  </div>
  <div class="pull-right">
    {{#if isOwner}}
      <button {{action "postEditable"}} class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
      </button>
      <button {{action "deleteRecord"}} class="btn btn-danger">
        <span class="glyphicon glyphicon-trash"></span>
      </button>
    {{/if}}
  </div>
  <div class="clearfix" />
</div>

<p>{{model.content}}</p>
